.navbar-sticy {
  position: fixed;

  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.navbar {
  transition: all 0.5s ease-in-out;
}

.signiture {
  filter: invert(1);
  -webkit-filter: invert(1);
}

.grid-item {
  overflow: hidden;
}
.overlay {
  position: absolute;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0) 71%,
    rgba(0, 0, 0, 0.03) 72%,
    rgba(13, 13, 13, 0.06) 73%,
    rgba(13, 13, 13, 0.13) 75%,
    rgba(12, 12, 12, 0.23) 78%,
    rgba(9, 9, 9, 0.3) 80%,
    rgba(11, 11, 11, 0.34) 81%,
    rgba(9, 9, 9, 0.41) 83%,
    rgba(11, 11, 11, 0.44) 84%,
    rgba(9, 9, 9, 0.51) 86%,
    rgba(11, 11, 11, 0.55) 87%,
    rgba(11, 11, 11, 0.65) 90%,
    rgba(9, 9, 9, 0.72) 92%,
    rgba(11, 11, 11, 0.76) 93%,
    rgba(11, 11, 11, 0.86) 96%,
    #0a0a0a 100%
  );
  transition: all 0.3s ease-in-out;
  z-index: 1;
  width: 0;
  scale: 0;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 0;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
.text {
  position: absolute;
  opacity: 0;
  top: 100%;
  transition: all 0.5s ease-in-out;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}
/* Show the overlay when hovering over a grid item */
.grid-item:hover .overlay {
  opacity: 1;
  width: 100%;
  scale: 1;
}
.grid-item:hover .text {
  opacity: 1;
  top: 0;
}
textarea {
  resize: none;
}
.single-blog-header {
  min-height: 600px;
  background: linear-gradient(to left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2)),
    url("../assets/singleblog.jpg") center center no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.to-top-btn {
  position: fixed;
  z-index: 20;
  bottom: 20px;
  right: 20px;
  opacity: 0;
  width: 52px;
  height: 52px;
  border: none;
  border-radius: 50%;
  outline: none;

  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
.show {
  opacity: 1;
}

@media (max-width: 767px) {
  #slider {
    height: 600px;
    img {
      height: 100%;
    }
    .carousel-inner {
      height: 100%;
    }

    .carousel-item {
      height: 100%;
      img {
        object-fit: cover;
        object-position: center;
      }
    }
  }
  .overlay {
    display: none;
  }
}
